
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-size: 16px;
}

body {
    background-color: #fafafa;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 12px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    /* border: 1px solid red; */
    max-width: 300px;
    border-radius: 32px;
    overflow: hidden;
    /* height: 100%; */
    background-color: white;
    box-shadow: 2px 3px 12px rgba(0,0,0);
}

#moldura-foto {
    width: 100%;
    /* height: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#cores-disponiveis {
    display: flex;
    gap: 8px;
    position: absolute;
    bottom: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#curtir {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
}

#foto {
    width: 100%;
    height: 200px;
    background-color: #c2c2c2;
}

#informacoes {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#box-preco-produto {
    background-color: #202020;
    color: #fafafa;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 5px;
    display: inline-block;
    padding-right: 5px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#moeda {
    font-weight: 300;
    color: #c2c2c2;
}
