* {
    /* RESET CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
}
main {
    width: 100%;
    height: 500px;
    border: 1px solid red;
    position: relative;
}

.box {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

#box1{
    position: absolute;
    background-color: red;
    bottom: 0;
    right: 0;
}

#box2{
    position: absolute;
    background-color: rgb(51, 255, 0);
    bottom: 0;
    left: 0;
}

#box3{
    position: absolute;
    background-color: rgb(68, 0, 255);
    top: 0;
    right: 0;
}