.sans-serif{
    font-family: sans-serif;
}

.ingredientes {
 background-color: rgba(127, 255, 185, 0.644);
 font-family: sans-serif;
 font-size: 24px;
}
.modo-de-preparo {
    background-color: rgba(0, 238, 255, 0.521);
    h2 {
        font-size: 48px;
        color: red;
        font-family: 'Times New Roman', Times, serif;
    }

    font-family: sans-serif;
}