* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.bg-white {
    background-color: white;
}

#flags {
    width: 100vw;
    height: 300px;
    background-color: rgb(139, 59, 204);
       display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.flag {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

#japan{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    
}

#bar-red{
    width: 40px;
    height: 100%;
    background-color: red;
}

#bar-green{
    width: 40px;
    height: 100%;
    background-color: green;
}

#bar-white{
    width: 40px;
    height: 100%;
    background-color: white;
}

#bar-blue{
    width: 40px;
    height: 100%;
    background-color: rgb(30, 30, 185);
}

#bar-red-horizontal {
    width: 120px;
    height: 40px;
    background-color: red;
}

#bar-yellow-horizontal {
    width: 120px;
    height: 40px;
    background-color: rgb(240, 224, 10);
}

#bar-black-horizontal {
    width: 120px;
    height: 40px;
    background-color: rgb(24, 24, 24);
}

.flag-horizontal {
    display: flex;
    flex-direction: column;
}